*{
	margin: 0px;
	padding: 0px;
}
.div1{
	
}
.div1_1{
	/*position: relative;*/
    width: 100%;
    height: 42px;
    background: #070707;
    z-index: 1000;  
    border-bottom: 1px solid #353535;
}
.div1_1_1{
	/*border-bottom: 1px solid #353535;*/
    padding: 14px 0;
    top: 35px;
    margin: 0 30px;
}
.div1_1_1_1{
	/*border: 1px solid sienna;*/
    width: 250px;
    float: right;
    margin-right: 290px;
    height: 30px;
    margin-top: -7px;
    font-size: 13px;
}
/* ul li以横排显示 */

/* 所有class为div1_1_1_1的div中的ul样式 */
div.div1_1_1_1 ul
{
    list-style:none; /* 去掉ul前面的符号 */
    margin: 0px; /* 与外界元素的距离为0 */
    padding: 0px; /* 与内部元素的距离为0 */
    width: auto; /* 宽度根据元素内容调整 */
}
/* 所有class为div1_1_1_1的div中的ul中的li样式 */
div.div1_1_1_1 ul li
{
    float:left; /* 向左漂移，将竖排变为横排 */
}
/* 所有class为div1_1_1_1的div中的ul中的a样式(包括尚未点击的和点击过的样式) */
div.div1_1_1_1 ul li a, div.div1_1_1_1 ul li a:visited
{
    /*background-color: #465c71; 
    border: 1px #4e667d solid; */
    color: #CCCCCC; /* 文字颜色 */
    display: block; /* 此元素将显示为块级元素，此元素前后会带有换行符 */
    line-height: 1.35em; /* 行高 */
    padding: 4px 20px; /* 内部填充的距离 */
    text-decoration: none; /* 不显示超链接下划线 */
    white-space: nowrap; /* 对于文本内的空白处，不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止。 */
}
/* 所有class为div1_1_1_1的div中的ul中的a样式(鼠标移动到元素中的样式) */
div.div1_1_1_1 ul li a:hover
{
    /*background: #bfcbd6;*/ 
    color: red; /* 文字颜色 */
    text-decoration: none; /* 不显示超链接下划线 */
}
/* 所有class为div1_1_1_1的div中的ul中的a样式(鼠标点击元素时的样式) */
div.div1_1_1_1 ul li a:active
{
    background-color: #465c71; /* 背景色 */
    color: white; /* 文字颜色 */
    text-decoration: none; /* 不显示超链接下划线 */
}
.div1_1_1_2{
	/*border: 1px solid salmon;*/
	width: 200px;
	height: 35px;
    float: right;
    margin-right: -480px;
    margin-top: -15px;
    font-size: 13px;
}
div.div1_1_1_2 img{
	margin-top: 10px;
	
}
div.div1_1_1_2 a{
	color: white;
    margin-left: 10px;
    position: absolute;
    top: 11px;
    text-decoration: none;
}
.div1_2{
	/*position: relative;*/
    width: 100%;
    height: 85px;
    background: #070707; 
    display: flex;
	flex-direction: row;
}
.div1_2_1{
	border: 1px solid salmon;
	width: 250px;
	height: 43px;
	margin-left: 270px;
    margin-top: 13px;
}
.div1_2_2{
	/*border: 1px solid sandybrown;*/
	width: 217px;
	height: 38px;
	margin-left: 300px;
    margin-top: 23px;
    background-color: white;
}
.div1_2_2 #input1{
	margin-left: 15px;
    margin-top: 11px;
    border:none;
    outline:medium;
    width: 170px;
}
.div1_2_2 #but1{
	border:none;
    background-color: white;
    position: absolute;
    top: 75px;
}
.div1_3{
	/*border-bottom: 1px solid salmon;*/
    width: 100%;
    height: 53px;
    background: #F7F7F7; 
    display: flex;
	flex-direction: row;
}
.div1_3 .div1_3_0{
	/*border: 1px solid salmon;*/
	width: 90px;
	height: 45px;
	
	font-family: "League Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 21px;
    margin: 0 20px;
    
    margin-top: 4px;
    text-align: center;
    line-height: 45px;  
}
.div1_3 .div1_3_00{
	width: 90px;
	height: 45px;
	
	font-family: "League Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 21px;
    margin: 0 20px;
    
    margin-top: 4px;
    text-align: center;
    line-height: 45px;  
    margin-left: 330px;
}
div.div1_3_0 a{
	color: #000000;
    text-decoration: none;
}
.div1_3 .div1_3_01{
	width: 90px;
	height: 45px;
	
	font-family: "League Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 21px;
    margin: 0 20px;
    
    margin-top: 4px;
    text-align: center;
    line-height: 45px;  
    margin-left: 65px;
}
div.div1_3_01 a{
	color: #000000;
    text-decoration: none;
}
.div1_4{
	/*border-bottom: 1px solid salmon;*/
    width: 72%;
    /*height: 53px;*/
    /*background: #F7F7F7;*/ 
    display: flex;
	flex-direction: row;
	padding-top: 20px;
	margin:0px auto;
}
.div1_4_1{
	/*border: 1px solid salmon;*/
	width: 241px;
	height: 407px;
}
.div1_4_11{
	/*border: 1px solid salmon;*/
	width: 241px;
	/*height: 407px;*/
	float:left;
}
.div1_4_11 a{
	text-decoration: none;
	color: #070707;
}
.div1_4_11_1{
	/*border-bottom: 1px solid salmon;*/
	width: 241px;
	height: 344px;
}
.div1_4_11_2{
	/*border-bottom: 1px solid salmon;*/
	width: 241px;
	height: 18px;
	text-align: center;
    font-size: 14px;
}

.div1_4_11_3{
	/*border-bottom: 1px solid salmon;*/
	width: 241px;
	height: 19px;
	text-align: center;
    font-size: 14px;
}
.div1_4_11_4{
	width: 241px;
	height: 26px;
	text-align: center;
    font-size: 14px;
}
/* .div1_4_11_4 #amount{
	width: 30px;
	margin-right: 15px;
} */
.div1_4_11_4 #buy{
	width: 40px;
	/*border: none;
	background-color: #999999;*/
}

.div1_4_11 img{
	width: 241px;
	height: 344px;
}
.div1_5{
	margin-left:487px;
	margin-top:25px;
}
.div1_4_11_2 input,.div1_4_11_3 input{
	border:none;
    outline:medium;
    width: 140px;
    text-align: center;
}